* {
    box-sizing: border-box;

}
body { 
    background-color: #fcebb6;
    background-image:  url(image/fadedroad50.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #221811;
    font-family: 'Poor Story', serif;
}

header {
    background-color: #D2B48C;
    background-image: url(image/coffeelogo.jpg);
    background-repeat: no-repeat;
    color: #231814;
    padding-top: 5px;
    padding-bottom: 5px;
}

header a {
    text-decoration: none;
}

header a:link {
    color: #231814;
}

header a:visited {
    color: #231814;
}

header a:hover{
    color: #FEFAEB;
}

h1 {
    font-size: 2.5em;
    font-family: 'bayon', sans-serif;
}
nav {
    float: left;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #fef6c2;
}

nav a:visited {
    color: #D2B48C;
}

nav a:hover {
    color: #cc9933;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
}

h2 {
    color:#8C3826;
}

h3, dt {
    color: #8C3826;
}

h4{
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #221811;
    clear: left;
    
}

main {
    background-color: #fef6c2;
    display: block;
    margin-left: 200px;
    overflow: auto;
    padding: 0 0 2em 0;
}

main h2, h3, h4, p, div, ul, dl {
    padding-left: 3em;
    padding-right: 2em;
}

footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 1em;
    border-top: 2px solid #8C3826;
}

#wrapper {
    background-color: #231814;
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px #676767;
    padding: 0;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

.onethird {
    float:left;
    width: 33%;
}

img{
    border-style: none;
    max-width: 100%;
    height: auto;
}

#homehero {
    height: 300px;
    background-image: url(image/hero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#heromugs {
    height: 300px;
    background-image: url(image/heromugs.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#heroguitar{
    height: 300px;
    background-image: url(image/heroguitar.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
